<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h1>Team Name: <%=@team_data[0]%> </h1>
 <p>Coach: <%=@team_data[1]%></p>
 <p>Point Guard: <%=@team_data[2]%></p>
 <p>Shooting Guard: <%=@team_data[3]%></p>
 <p>Small Forward: <%=@team_data[4]%></p>
 <p>Power Forward: <%=@team_data[5]%></p>
 <p>Center: <%=@team_data[6]%></p>
 </body>
</html>


